default_config:

homeassistant:
  packages: !include_dir_named packages/

tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

lovelace: !include lovelace.yaml

logger:
  default: warning
  logs:
    custom_components.better_thermostat: debug

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - http://localhost:4000/betterthermostat.js
#   development_repo: /workspaces/home-assistant-frontend